Source: pyfftw
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=9),
 dh-python,
 python-dev,
 python3-dev,
 python-numpy,
 python-setuptools,
 python3-numpy,
 python3-setuptools,
 cython,
 libfftw3-dev,
 gcc
Standards-Version: 3.9.8
Homepage: https://github.com/pyFFTW/pyFFTW

Package: python-pyfftw
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: pyFFTW is a pythonic wrapper around FFTW 3, the
  speedy FFT library. The ultimate aim is to present a unified 
  interface for all the possible transforms that FFTW can perform.

Package: python3-pyfftw
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends}
Description: pyFFTW is a pythonic wrapper around FFTW 3, the
  speedy FFT library. The ultimate aim is to present a unified 
  interface for all the possible transforms that FFTW can perform.
